html { padding: 0px; }
body { margin: 0px; }

body {
  font-family: sans-serif;
}

.pixel-art {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.content-inline-image {
  padding: 0.75em
}

.canvas-container {
  background: #10232D;
  padding: 0.25em;
  height: 79%;
}

canvas {
  background: white;
  display: table;
  margin: auto;
  width: 384 * 2;
  height: 216 * 2;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

@media (min-width: 768px) and (max-width: 1151px) {
  canvas:-webkit-full-screen {
    width: 384 * 2;
    height: 216 * 2;
  }
}
@media (min-width: 1152px) and (max-width: 1535px) {
  canvas:-webkit-full-screen {
    width: 384 * 3;
    height: 216 * 3;
  }
}
@media (min-width: 1536px) and (max-width: 1919px) {
  canvas:-webkit-full-screen {
    width: 384 * 4;
    height: 216 * 4;
  }
}
@media (min-width: 1920px) {
  canvas:-webkit-full-screen {
    width: 384 * 5;
    height: 216 * 5;
  }
}

@import './header.scss';
@import './text-content.scss';
