html { padding: 0px; }
body { margin: 0px; }

.canvas-container {
  background: grey;
  padding: 1em
}
canvas {
  background: white;
  display: table;
  margin: auto;
  width: 384 * 2;
  height: 216 * 2;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
