$header-sun-outer-blue: #615EC7;
$header-sun-outer-red: #CF5359;
$header-sun-light-orange: #FFBF6D;
$header-sun-dark-orange: #F1903E;
$header-start-light-blue: #9ADBFF;
$header-start-dark-teal: #10232D;

.text-content {
}

.colored-content-block {
  display: inline-block;
  width: 100%;
  min-height: calc(100vh - 128px);
  min-width: 875;
}

.colored-content-block > .nav {
  position: relative;
  float: left;
  width: 175px;
  height: 100%;
  margin: 0px;
  z-index: 1;
}

.colored-content-block > .nav > ul > li:first-child {
  margin-top: 2.5em;
}

.colored-content-block > .column {
  min-width: 700px;
  width: auto;
}

.colored-content-block > .column > *:first-child {
  padding-top: 1.5em;
}

.colored-content-block > .column > * {
  font-size: 1.5em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  max-width: 800px;
  min-width: 560px;
  padding: 20px;
  margin: auto;
}

.under-header {
  height: 128px;
}

.anchor {
  display: block;
  position: absolute;
  height: 0px;
  top: -128px;
}

.bg-sun-blue { background-color: $header-sun-outer-blue; }
.bg-sun-red { background-color: $header-sun-outer-red; }
.bg-sun-l-orange { background-color: $header-sun-light-orange; }
.bg-sun-d-orange { background-color: $header-sun-dark-orange; }
.bg-sun-l-teal { background-color: $header-start-light-blue; }
.bg-sun-d-teal { background-color: $header-start-dark-teal; }

.nav {

}

a {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.nav li, .nav a {
  letter-spacing: 0.25em;
  font-size: 1.1em;
  color: white;
  list-style-type: none;
  line-height: 1.75em;
  padding-left: 5px;
  overflow: visible;
  white-space: nowrap;
}

.nav ul li.active:before {
  content: "~";
  margin-left: -20px;
  position: absolute;
}

form {
  text-align: center;
}

input {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 0.5em;
}
